
	<div class="container">
			<!-- START HERE --> 
		<h1>About Luke</h1>
		
		<h2>Small Town Appalachain Mucisian Meets City Slicker Engineer</h2>

		<div class="fb-like" data-href="http://lukeandrewperkins.com/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

		<p>I was born in raised in Robbinsvile North Carolina, a tiny town nestled in the southern appalachin mountains.  After college I chose to stay in Raleigh and bring a piece of my culture to the piedmont.  Here is a good ole country boy tune I wrote while fooling around with my guitar.</p>


		<p> 
			<iframe width="420" height="315" src="https://www.youtube.com/embed/QWLJAzhQPbQ" frameborder="0" allowfullscreen></iframe>
		</p>

		<%= link_to image_tag('facebook.png'), "http://www.facebook.com/laperkin" %>
		<%= link_to image_tag('twitter.png'), "http://www.twitter.com/lukeperkins9" %>
		
		</a>
	</div>